.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
}

.calendar-panel {
  flex: 0 0 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 16px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ddd;
  position: sticky;
  top: 0;
  height: 100vh;
}

.time-axis-panel {
  flex: 1 1 66.66%;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.time-slot {
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
